/* Blue Popsicle: #0f2862

Redline: #9e363a

Purple Shadow: #091f36

Grey Blue Leaf: #4f5f76 */

/*
SECONDARY

sky blue #00A8E8
muddy blue #007EA7
navy blue #003459
deep navy #00171F */


html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

#application_container {
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: #14171b; */
}

#navbar_container {
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
}

#creator_container {
    transition: .2s;
    width: 100px;
    background-color: #2085d6e0;
    height: calc(100% - 60px);
    z-index: 1000000000;
    left: -95px;
    position: absolute;
}

#wallet_container {
    transition: .2s;
    width: 100px;
    background-color: #2085d6e0;
    height: 100%;
    z-index: 1000000000;
    right: -95px;
    position: absolute;
}

.navbar-main {
    width: 100%;
    height: 60px;
    position: relative;
}

.nav-buttons {
    right: 0;
    height: 100%;
    display: inline-block;
    padding: 0px;
    width: 40%;
    font-size: 20px;
    z-index: 100;
    border: none;
    box-shadow: 1px 1px 4px 0px #214167;
    border-radius: 0;
    float: left;
    color: white;
    font-weight: 900;
}

.nav-buttons:hover {
    color: white;
    background-color: #2e4b6e;
}

.market-button {
    position: relative;
    background-color: #293852;
    display: inline-block;

}
.market-button::after {
    position: absolute;
    right: -50px;
    top: 0;
    content: "";
    border-bottom: 22px solid transparent;
    border-left: 30px solid #192c3c;
    border-top: 38px solid #293852;
    border-right: 20px solid transparent;
}

.account-button {
    position: relative;
    float: right;
    background-color: #293852;
    display: inline-block;

}
.account-button::before {
    position: absolute;
    left: -50px;
    top: 0;
    content: "";
    border-bottom: 22px solid transparent;
    border-left: 20px solid transparent;
    border-top: 38px solid #293852;
    border-right: 30px solid #192c3c;
}

.nav-buttons:focus {
    outline: 0;
    box-shadow: unset;
}

.login-button {
    width: 500px;
    left: calc(50% - 250px);
    position: absolute;
    box-shadow: 1px 1px 4px 0px #214167;
    padding: 0;
    height: 39px;
    color: white;
    font-weight: 900;
    z-index: 10;
    background-color: #293852cc;
}

.login-button:hover {
    color: white;
    background-color: #192c3c;
}

.login-button:focus {
    box-shadow: unset;
    background-color: #00aeff;
    color: white;
}

.login-panel {
    position: absolute;
    transition: .2s;
    width: 600px;
    height: 263px;
    padding-top: 100px;
    top: -217px;
    background-color: #2085d6e0;
    left: calc(50% - 300px);
    z-index: 1;
}

.input-login-field-class {
    height: 50px;
}

.login-button-submit {
    color: white;
    font-weight: 900;
    background-color: #293852cc;
    border: none;
}
.input-login-group {
    width: calc(100% - 50px);
    padding-left: 50px;
}

.logout-button {
    height: 50px;
    width: calc(100% - 200px);
    margin-left: 100px;
    color: white;
    font-weight: 900;
    background-color: #da5927;
    border: none;
}

.token-container-main {
    width: calc(100% - 400px);
    background-color: transparent;
    height: 100%;
    margin-left: 200px;
    position: absolute;
    display: inline-block;
    margin-right: 200px;
    top: 0;
    right: 0;
    text-align: center;
}

.creator-panel {
    background-color: #293852eb;
    width: calc(100% - 7px);
    height: calc(100% - 75px);
    overflow-y: auto;
    visibility: hidden;
    transition: .2s;
    box-shadow: 1px 1px 4px 0px #214167;
}

.wallet-panel {
    background-color: #293852eb;
    width: calc(100% - 7px);
    height: 100%;
    float: right;
    box-shadow: 1px 1px 4px 0px #214167;
}

.token-container-mason {
    height: calc(100% - 197px);
    overflow-y: auto;
    background-color: transparent;
}

.token-card-mason {
    box-shadow: 0px 0px 5px 1px #2938522b;
    background-color: white;
    width: calc(25% - 34px);
    height: auto;
    display: inline-block;
    margin: 15px;
    border-bottom: 7px solid #4490d5;
    border-left: 7px solid #2e4b6e;
}

.token-card-mason:hover {
    cursor: pointer;
}

.token-card-image {
    height: 200px;
    padding: 25px;
}

.main-token-card-class  {
    display: block;
    line-height: 50px;
    font-weight: 900;
    color: #2e4b6e;
    text-align: left;
    width: 100%;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0;
}

.create-switcher {

}

.left-panel-button {
    background-color: #4189cc;
    border-top-left-radius: 0px;
    border: none;
}

.right-panel-button {
    background-color: #4189cc;
    border-top-right-radius: 0px;
    border: none;
}

.token-form-class {
    padding: 50px;
    padding-top: 0;
}

.token-creator-title {
    padding: 15px;
    padding-left: 0px;
    color: white;
    font-weight: 900;
    margin: 0px;
}

.submit-create-token {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    height: 75px;
    background-color: transparent;
    font-weight: 900;
    font-size: 20px;
}

.token-boolean-group {
    padding-top: 50px;
}
.token-booleans {
    position: relative;
    display: block;
    font-weight: 900;
    padding-left: 1.25rem;
    color: white;
}

.create-help-text {
    color: white;
}
.form-group {
    margin-bottom: 0px;
}

.owned-wallet-token-item {
    height: 50px;
    position: relative;
    padding: 15px;
}

.wallet-token-name {
    width: 25%;
    font-size: 14px;
}

.wallet-token-category {
    width: 50%;
    text-align: center;
}

.wallet-token-amount {
    width: 25%;
    font-size: 14px;
    text-align: right;
    right: 15px;
    position: absolute;

}
.owned-item {
    display: inline-block;
    color: white;
    font-weight: 900;
}

.owned-tokens-panel {
    min-height: 200px;
}

.owned-tokens-header {
    padding: 15px;
    font-weight: 900;
    background-color: #4593d9;
    color: white;
}

.unissued-tokens-header {
    padding: 15px;
    font-weight: 900;
    background-color: #4593d9;
    color: white;
}
.token-header-name {
    width: 25%;
    min-width: 100px;
    display: inline-block;
}

.token-header-category {
    width: 50%;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.token-header-amount {
    min-width: 100px;
    float: right;
    text-align: right;
    display: inline-block;
}

.unissued-tokens-container {
    overflow-y: auto;
    height: calc(100% - 368px);
}

.sell-token {
    position: absolute;
    width: 0px;
    background-color: #d8521f;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    line-height: 50px;
    box-shadow: 0px 0px 3px 0px #ff5500;
    transition: .2s;
    z-index: 0;
    text-align: center;
    font-weight: 900;
    color: white;
}

.sell-token:hover {
    cursor: pointer;
}

.sell-item-panel {
    position: absolute;

}

.sell-token-slider {
    width: 0px;
    left: 0px;
    background-color: #4593d9;
    height: 200px;
    padding: 40px;
    z-index: 1000;
    position: absolute;
    transition: .2s;
    padding-top: 25px;
}

.submit-sell-button {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    padding: 20px;
    background-color: #3573ab;
    cursor: pointer;
    font-weight: 900;
    color: white;
    transition: .2s;
}

.submit-sell-button:hover {
    background-color: #1f517d;
}

.sell-token-header {
    font-weight: 900;
    color: white;
    width: auto;
    float: left;
    display: inline-block;
}

.sell-token-info {
    font-weight: 900;
    text-align: right;
    color: white;
    width: 200px;
    float: right;
    display: inline-block;
}

.sell-token-price {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    height: 50px;
}

.marketplace-header {
    margin-top: 110px;
    font-size: 40px;
    font-weight: 900;
    color: #2e4b6e;
    width: 400px;
    margin-left: calc(50% - 200px);
    border-bottom: 3px solid #2e4b6e;
    margin-bottom: 25px;
}

.unissued-tokens-panel {
    overflow-y: auto;
    height: calc(100% - 368px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #293852;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
